<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Primary Secondary Section",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },

  "presets": [
    {
      "name": "Primary Secondary Section"
    }
  ],
  "settings": []
}
{% endschema %}
