<div>Primary Section here</div>

{% schema %}
{
  "name": "Primary Secondary Section",
  "settings": [],
  "tag": "section",
  "class": "section"
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
