<div class="row" style="max-width: var(--page-width);margin: 0 auto;">
  <h3 class="theme-blog-heading">
    {{section.settings.heading}}
  </h3>
</div>
<div class="row" style="max-width: var(--page-width);margin: 0 auto;">
  {%- for block in section.blocks -%}
    <div class="col-sm-3" style="display: flex; justify-content: center;align-items: center">
      {%- if block.settings.image -%}
        {{
        block.settings.image
        | image_url: width: 600
        | image_tag: loading: 'lazy', sizes: sizes, widths: widths, width: '100%', height: 'auto'
        }}
      {%- else -%}
        {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Theme Blog image",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Ưu đãi thanh toán",
      "label": "Blog label"
    }
  ],
  "tag": "section",
  "presets": [
    {
      "name": "Theme Blog image",
      "blocks": [
        {
          "type": "image-item"
        },
        {
          "type": "image-item"
        },
        {
          "type": "image-item"
        },
        {
          "type": "image-item"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image-item",
      "name": "Item",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        }
      ]
    }
  ]
}
{% endschema %}
